@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
body {
  font-family: 'Ubuntu Mono', monospace;
  line-height: normal;
  align-self: auto;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  font-size:xx-large;
  line-height: normal;
  align-self: center;
  text-shadow: [x-offset] [y-offset] [blur-radius] [color];
}

h2 {
  color: black;
  font-size: large;
  line-height: normal;
  align-self: center;
  text-shadow: [x-offset] [y-offset] [blur-radius] [color];
}

h3 {
  color: black;
  font-size:medium;
  line-height: normal;
  align-self: center;
  text-shadow: [x-offset] [y-offset] [blur-radius] [color];
}

p {
  color: black;
  font-weight: 100;
  text-decoration: none;
  align-self: center;
  text-shadow: [x-offset] [y-offset] [blur-radius] [color];
}

a {
  color: black;
  text-decoration: none;
  align-self: center;
  text-shadow: [x-offset] [y-offset] [blur-radius] [color];
}

.lewagonhover:hover {
  background-color: blue;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

div {
  border: none;
  background: blue                        /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                      /* Small radius */
  width: 300px;        /* Set the width */
  margin: 0 auto;      /* Set automatic margins on right/left */
}

.card {
  background: white;
  padding: 30px;
  border: 1px solid blue;
  text-align: center;
  margin: 10%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
